

.page {
    width: 1050px;
    background-color: #525252;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

#big_bash_game_map {
	align-self: left;
	color: white;
}

#stat_bar {
	align-self: right;
	color: white;
}



h1 {
	text-align: center;
	color:white;
	font-family: 'Maven Pro', sans-serif;
}

h2 {
	text-align: center;
	color: white;
	font-family: 'Maven Pro', sans-serif;
}

h3 {
	text-align: center;
	color: white;
	font-family: 'Maven Pro', sans-serif;
}

p {
	color:white;
	text-align: left;
	font-family: 'Roboto', sans-serif;
}

#bblleft {
	align-self: right;
}

#bblright {
	text-align: right;
}

#opening_paragraph {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

#bbloverviewtitle {
	text-align: center;
	font-family: 'Maven Pro', sans-serif;

}

#playertitle {
	text-align: left;
	font-family: 'Maven Pro', sans-serif;

}

#player_text {
	text-align: left;
	font-family: 'Roboto', sans-serif;
}

#paragraph_1 {
 align-self: right;
 width: fit-content;
 height: auto;
 text-align: center;
}

.bold {
	font-weight: bold;
}

.stars {
	color: #3cc678;
	font-weight: bold;
}

.renegades {
	color: #f94640;
	font-weight: bold;
}

.thunder {
	color: #7dfe6f;
	font-weight: bold;
}

.sixers {
	color: #ff4da0;
	font-weight: bold;
}

.strikers {
	color: #1386c0;
	font-weight: bold;
}

.heat {
	color: #7bccc4;
	font-weight: bold;
}

.hurricanes {
	color: #994cff;
	font-weight: bold;
}

.scorchers {
	color: #ec7014;
	font-weight: bold;
}